
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{

  overflow-x: hidden;
}

.border{
  border : 2px solid black;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 16px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 100vh;

}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  padding: 8px;

}

.title{
  display: inline-block;
}

.navitems{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  left: 50%;
  transform: translate(-50% , 25%);

  padding: 4px;

  font-weight: 600;
  
}

.navitems > span:not(:nth-child(3)){
  margin-right: 8vw;
}

a{
  text-decoration: none;
  color: black;
}

.main-container > * {
  width: 40%;
  height: 500px;
}



.border-green{
  /* border: 5px solid rgb(119, 212, 119); */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.desc-input{
  height: 120px;
}

.Todo-section{
align-items: flex-start;
margin: 0px 70px;

display: flex;
justify-content: space-around;
align-items: center;

}

.Todo-section > span{

  font-size: 5vh;
  font-weight: 500;

  width: 100%;

}

.todo-Items{
  padding: 10px 40px;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  /* border: 2px solid red; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
}

.todo{

  align-items: flex-start;
  margin: 20px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 30px;

  /* border: 2px solid yellow; */

}

.todo > * {
  padding-bottom: 5px;
  height: 100%;

  
  
}

.text-container{
  width: 80%;
  height: fit-content;
}

.text-container > p {
  margin: 0%;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: fit-content;
}

.btn-container > button{
  border-radius: 6px ;
  transform: scale(0.8);
}


.delete{

  background-color: rgb(255, 71, 71);
  padding: 8px 10px;
  border: none;
  border-radius: 3px;

  color : white

}

.done{

  background-color: rgb(71, 255, 141);
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  /* margin-bottom: 10px; */

  color : white

}

.doneToDo{
  text-decoration: line-through;
  color: blue;
}


